.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("Images/404_bsod.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 
Now pretty useless. Maybe use in future. Check the 404 page it looks really good!
*/